# No need for DATABASE_URL to be set if developing from within a devcontainer

SECRET_KEY=lkasjdf09ajsdkfljalsiorj12n3490re9485309irefvn,u90818734902139489230
DATABASE_URL=sqlite:///dev.db
SCHEMA=sticky_cat
S3_BUCKET=stickycat
S3_KEY=AKIA5BILYWBKFD3OMSOX
S3_SECRET=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