.errors {
    color: var(--color-red);
    font-size: 10px;
    margin-bottom: 20px;
    margin-top: -15px;
}

.log-sign_container {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --- LogIn ---*/
.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50em;
    height: 25em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(149, 149, 149, 0.5);
    margin-bottom: 40px;
    background-color: rgb(243, 238, 225);
}

.login_container > h1 {
    padding-bottom: 35px;
    font-size: 30px;
    letter-spacing: 1.5px;
}

.login_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45em;
    height: 15em;
}

/* --- signup ---*/
.signup_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50em;
    height: 34em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(149, 149, 149, 0.5);
    margin-bottom: 50px;
    background-color: rgb(243, 238, 225);
}

.signup_container > h1 {
    margin-bottom: 35px;
    font-size: 30px;
    letter-spacing: 1.5px;
    margin-top: -25px;
}

.signup_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45em;
    height: 23em;
}

.firstname-lastname {
    margin-bottom: 10px;
}

.firstname-lastname > label{
    margin-right: 10px;
}

.firstname-lastname > label:nth-child(3) {
    margin-left: 10px;
}

.firstname-lastname > input {
    width: 18.85em;
}

/* ---Both --- */
.form > input {
    height: 3em;
    border: 3px solix gray;
    margin-bottom: 20px;
}


.form > div > button {
    margin-top: 10px;
    padding: 10px 40px;
    border-radius: 50px;
    border: none;
    background-color: var(--color-red);
    cursor: pointer;
}

.form > div > button:hover {
    background-color: var(--color-black);
    color: var(--hover-grey);
}

.login-signup_button {
    height: 3.5em;
    width: 53em;
    border-radius: 50px;
    border: none;
    background-color: var(--color-black);
    color: var(--color-white);
    margin-top: 25px;
    cursor: pointer;
    
}

.login-signup_button:hover {
    color: rgb(93, 92, 91);
}






.text-before-button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}


.text-before-button_container  > span {
    padding-bottom: 10px;
    width: 155px;
    border-bottom: 1.5px solid var(--color-black);
    margin-bottom: 10px;
}