/* ------ Cart Modal ------ */
#cart_container{
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
}



#cart_container > #total-price{
    display: flex;
    justify-content: space-between;
    width: 20em;
    padding-bottom: 8px;
    border-bottom: 1.5px solid var(--color-black);
    margin: 20px 0px;
}

#checkout {
    border: none;
    background-color: transparent;
}

#checkout > div{
    background-color: var(--color-red);
    border-radius: 50px;
    width: 11em;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}


#checkout > div:hover {
    color: rgb(93, 92, 91);
    background-color: var(--color-black);
    cursor: pointer;
}

#cart_container > button {
    border: none;
}

#cart_container > button > .navlink {
    background-color: var(--color-red);
    border-radius: 50px;
    border: none;
    padding: 4px 10px;
}
  
#cart_container > button > .navlink:hover {
    background-color: var(--color-black);
    color: rgb(93, 92, 91);
    cursor: pointer;
}

/* ------ All Cart Stickers ------ */


/* #cart-stickers_container{
    width: 21em;
    height: 30em;
    position: relative;
    overflow: scroll;
    scrollbar-gutter: stable;
    background-color: aqua;
} */

#cart-sticker-cards_container{
    display: flex;
    justify-content: space-between;
    width: 21em;
}

#cart-sticker-images_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8em;
    width: 8em;
    margin-left: 5px;
    margin-top: 5px;
}


#cart-sticker-images_container > img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}


#cart-sticker-cards_container > div:nth-child(2){ 
    width: 14em;
    padding-top: 62px;
}

#cart-infos_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 12px;
    /* cursor: none; */
}

.cart-infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 8px;
}

.cart-infos:first-child {
    margin-top: 15px;
}

.cart-infos > #quantity-add-remove >button {
    border: none;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;
}

#remove-card{
    position: relative;
    bottom: 80px;
    left: 19.6em;
    cursor: pointer;
    /* font-size: 20px; */
}

#cart-remove {
    list-style: none;
    width: 60px;
    padding: 10px 15px;
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
    box-shadow: 0px 2px 5px var(--color-shadow);
    position: relative;
    left: 240px;
    bottom: 150px;
    background-color: var(--color-yellow);
    cursor: pointer;
}


.quantity_button:hover {
    cursor: pointer;
    color: var(--hover-grey);
}
