#reviews_container {
    margin-bottom: 100px;
}

#reviews-top_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* margin-bottom: 30px; */
}

#create-review {
    display: flex;
    justify-content: center;
    /* margin-top: 40px; */
}

#create-review > button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    height: 30px;
    /* padding: 5px 15px;
    border-radius: 50px; */
}

#total-reviews {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--color-black);
}

#create-review > button:hover, button > .navlink:hover {
    color: var(--color-red);
}


.reviews{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#review-date {
    color: var(--hover-grey);
    font-size: 10px;
}

.user-review {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--color-black);
}

#review_edit-delete {
    cursor: pointer;
    list-style: none;
    display: flex;
    gap: 15px;
}

#review_edit-delete > div:hover {
    color: var(--color-red);
}

/* ------ Create Review ------ */

.review-form_container{
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.review-form_container > div:first-child {
    margin-bottom: 20px;
    font-size: 30px;
    font-family: var(--big-font);
    letter-spacing: 1.5px;
}


#review-star{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="radio"]{
    visibility:hidden;
}

#post-review {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#post-review > textarea {
    width: 20em;
    height: 5em;
}


#post-review > button {
    margin-top: 20px;
    height: 50px;
    border-radius: 50px;
    border: 1.5px solid var(--color-black);
    background-color: var(--color-red);
}

#post-review > button:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    cursor: pointer;
}


/* ------ Delete Review ------ */
.delete-review_container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-review_container > div:first-child{
    margin-bottom: 10px;
    font-size: 30px;
    font-family: var(--big-font);
    letter-spacing: 1.5px;
}

.delete-review_container > div:nth-child(2){
    margin-bottom: 20px;
}

.delete-review_container > div:nth-child(3) > button{
    margin: 0px 10px;
    width: 70px;
    height: 30px;
    border-radius: 50px;
    border: 1.5px solid var(--color-black);
    cursor: pointer;
}

.delete-review_container > div:nth-child(3) > button:nth-child(1){
    background-color: var(--color-red);
}

.delete-review_container > div:nth-child(3) > button:nth-child(1):hover{
    background-color: var(--color-black);
    color: var(--color-white);
}

.delete-review_container > div:nth-child(3) > button:nth-child(2){
    background-color: var(--color-black);
    color: var(--color-white);
}