/* TODO: Add sitewide styles */
:root {
    --big-font: 'Alfa Slab One', serif;
    --small-font: 'Red Hat Display', sans-serif;
    --color-white: #f5f2eb;
    --color-background: #f5f2eb;
    --color-shadow: rgb(95, 94, 92, 0.4);
    --color-black: #201f1e;
    --color-red: rgb(233, 68, 27);
    --color-yellow: #f2d729;
}

* {
    margin: 0px;
    font-family: var(--small-font);
    font-weight: 500;
}

body {
    /* width: 100vw;
    position: relative;
     */
    background-color: var(--color-background);
}

.navlink {
    color: black;
    text-decoration: none;
}

.buttons {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

