.navigator_container {
  background-color: var(--color-yellow);
  box-shadow: 0px 0px 3px var(--color-shadow);
  display: grid;
  grid-template-columns: 1.5fr 2fr 1.5fr;
  padding: 15px 30px;
  margin-bottom: 50px;
  position: sticky;
  top: 0px;
  z-index: 100;

  && .navigator_wrapper_left, .navigator_wrapper_middle, .navigator_wrapper_right {
    display: flex;
    align-items: center;
  }
}

.navigator_wrapper_left {
  gap: 20px;

  && .logo_name {
  font-family: var(--big-font);
  letter-spacing: 1px;
  }

  && .search_bar_wrapper{
    display: flex;
    align-items: center;
    border-radius: 50px;
    height: 35px;
    width: 100%;
    
    && .search_form{
      position: relative;
      display: flex;
      align-items: center;
      width: 75%;
      height: 100%;
    }
  
    && input {
      width: 100%;
      height: 100%;
      border-radius: 50px;
      border: 1px solid var(--color-shadow);
      padding-left: 25px;
      background-color: var(--color-white);
    }

    && input::placeholder {
      color: var(--color-shadow);
    }
  
    && input:focus {
      outline: transparent;
      background-color: white;
    }
  
    && input:focus::placeholder {
      color: transparent;
    }

    && button {
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      position: absolute;
      right: 20px;
      color: darkgrey;
    }
  
    && i:hover {
      color: grey;
      cursor: pointer;
    }
  }

}

.navigator_wrapper_middle {
  gap: 45px;
  justify-content: center;
}

.navigator_wrapper_right {
  gap: 20px;
  justify-content: end;
}



/* ------------- CartIcon -------------- */
.cartIcon_container {
  position: relative;
  && i:hover {
     color: var(--color-white);
     cursor: pointer;
  }

  && .cart_length_number {
    position: absolute;
    top: 12px;
    right: -6px;
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
}