/* ------ Delete Stickers ------ */
.delete_container{
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete_container > img {
    height: 300px;
    padding: 10px;
}

.delete-texts{
    width: 20em;
    height: 15em;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delete-texts > h2 {
    font-family: var(--big-font);
    font-size: 24px;
}

.delete-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.delete-buttons > button {  
    border-radius: 10px;
    margin-bottom: 16px;
    /* border: 2px solid var(--color-black); */
}

.delete-buttons > button:first-child {
    background-color: var(--color-red);
    font-size: 20px;
    font-weight: bold;
    width: 10em;
    height: 4em;
    cursor: pointer;
    border: none;
    border-radius: 50px;
}

.delete-buttons > button:nth-child(2) {
    background-color: var(--color-black);
    color: var(--color-white);
    width: 10em;
    height: 3em;
    cursor: pointer;
    border-radius: 100px;
}

.delete-buttons > button:first-child:hover, .delete-buttons >button:nth-child(2):hover {
    background-color: var(--color-black);
    color: var(--hover-grey);
}