.sticker-form_container > div:first-child{
    margin-top: 20px;
    font-size: 30px;
    font-family: var(--big-font);
    letter-spacing: 1.5px;
}

.edit-form {
    display: flex;
    flex-direction: column;
}

.edit-form > label {
    margin-top: 10px;
}

.edit-form > .height-width_container {
    margin-top: 10px;
}

.edit-form > .height-width_container > label {
    margin: 10px;
}

.edit-form > textarea {
    height: 100px;
    margin-bottom: 20px;
    
}

.edit-form > button {
    height: 50px;
    border-radius: 50px;
    border: 1.5px solid var(--color-black);
    background-color: var(--color-red);
}

.edit-form > button:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    cursor: pointer;
}

