.sticker-form_container {
    display: flex;
    /* background-color: aqua; */
    flex-direction: column;
    align-items: center;
    width: 50em;
    height: 30em;
}

.create-form {
    display: flex;
    flex-direction: column;
}