.sticker-form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70em;
    height: max-content;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px rgb(149, 149, 149, 0.5);
    background-color: rgb(243, 238, 225); */
    margin: 0px auto;
    margin-bottom: 100px;
}

.sticker-form_container > div:first-child{
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0px;
}



.create-form {
    display: flex;
    /* flex-direction: column; */
    margin-bottom: 50px;
}


#image-side > div{
    display: flex;
    flex-direction: column;
    width: 19.1em;
    margin-right: 120px;
}

#image-side > div > img {
    margin-bottom: 10px;
}

input[type='file'] {
    /* border: 1px solid var(--color-black); */
    box-shadow: 0px 2px 2px grey,
                0px 0px 1px grey;
    height: 40px;
    border-radius: 50px;
    background-color: var(--color-white);
}

::-webkit-file-upload-button {
    background-color: var(--color-red);
    border: none;
    height: 40px;
    border-radius: 50px;
    padding: 0px 20px;
    margin-right: 20px;
}




#form-side {
    display: flex;
    flex-direction: column;
}

#form-side > input{
    margin-bottom: 10px;
}

.height-width_container {
    margin-bottom: 10px;
}

.height-width_container > label, .height-width_container > input:first-child {
    margin-right: 10px;
}

.height-width_container > label:nth-child(3){
    margin-left: 10px;
}

.create-form > textarea,  #form-side > textarea {
    height: 100px;
    margin-bottom: 20px;
}



#form-side > div > button {
    height: 45px;
    width: 15em;
    border-radius: 50px;
    border: none;
    margin: 5px auto;
}

#form-side > div > button:first-child{
    background-color: var(--color-red);
}

.cancel-form {
    background-color: var(--color-black);
    color: var(--color-white);
}

#form-side > div > button:hover, .cancel-form:hover, ::-webkit-file-upload-button:hover {
    background-color: var(--color-black);
    color: var(--hover-grey);
    cursor: pointer;
}

@media screen and (max-width:1250px) { 
    .sticker-form_container {
        width: 50em;
    }

    .create-form {
        flex-direction: column;
    }

    #image-side {
        margin-bottom: 20px;
        left: 20px;
    }
}

@media screen and (max-width:750px){ 
    .sticker-form_container {
        margin-top: -20px;
        width: 100dvw;
    }

    #image-side { 
        width: 20em;
        position: relative;
        left: 30px;
    }

    #image-side img {
        width: 300px;
    }
    
    #form-side {
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    .height-width_container {
        display: flex;
        margin-top: 5px;
    }

    .height-width_container input{
        width: 98px;
    }

    #form-side > div > button {
        width: 10em;
    }
}

@media screen and (max-width:450px){ 
    .sticker-form_container {
        width: 100dvw;
    }

    #image-side { 
        width: 20em;
        position: relative;
        left: 30px;
    }

    #image-side img {
        width: 300px;
    }
    
    #form-side {
        padding: 20px;
        width: 20em;
        display: flex;
        justify-content: center;
    }

    .height-width_container {
        display: flex;
        margin-top: 5px;
    }

    .height-width_container input{
        width: 98px;
    }

    #form-side > div > button {
        width: 10em;
    }
}