#sticker-detail_container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 10em;
}

#sticker-detail_image {
    display: flex;
    justify-content: center;
    width: 25em;
    margin-right: 20px;
}

#sticker-detail_infos {
    display: flex;
    flex-direction: column;
    width: 40em;
    height: 30em;
}

#sticker-detail_infos > #top-part {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 70px;
}

#sticker-detail_infos > #top-part > #title {
    font-size: 25px;
}

#sticker-detail_infos > #name {
    margin-bottom: 30px;
}

#cart-shipdate {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    margin-top: 30px;
}

#cart-shipdate > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27.5em;
    height: 80px;
}

#cart-noti {
    color: var(--color-red);
    margin-top: -10px;
}

#sticker-detail_infos > #cart-shipdate > div > div > #addToCart {
    width: 29em;
    height: 45px;
    border: none;
    border-radius: 50px;
    margin-bottom: 10px;
    background-color: var(--color-red);
    margin-right: 20px;
}

#sticker-detail_infos > #cart-shipdate > div > div > #addToCart:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    cursor: pointer;
}

#sticker-detail_infos > #message > div:first-child {
    font-weight: 600;
}

#sticker-detail_infos > #message > div:nth-child(2) {
    text-align: justify;
}

#review_container {
    margin: 50px 10em;
    margin-top: 90px;
} 

.favorite-button {
    border-radius: 100px;
    width: 30px;
    height: 30px;
    color: var(--color-red);
    border:1.5px solid var(--color-black);
    cursor: pointer;
    margin-top: 10px;
}